@use 'variables' as *
.banner-principal-decorativo
  &-1
    position: absolute
    top: 30%
    right: 75%
    width: 100px
    animation: float1 2s ease-in-out infinite alternate
  &-2
    position: absolute
    top: 20%
    right: 20%
    width: 100px
    animation: float1 3.5s ease-in-out infinite alternate

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 45% !important
  @media only screen and (min-width: 1024px) 
    margin-left: 5%
  @media screen and (max-width: $bp-max-md)
    width: 95% !important

.banner-principal__row .banner-principal__img
  width: 600px !important
  @media screen and (max-width: $bp-max-xl)
    width:400px !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.svg') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.svg') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.svg") !important

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: black

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #AACA79 !important

.cen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto

.banner-interno__titulo h1, .banner-interno__titulo h2, .banner-interno__titulo h3, .banner-interno__titulo h4, .banner-interno__titulo h5, .banner-interno__titulo h6 
  color: black

.banner-interno__titulo__icono i 
  color: black



.bg1
  background-color:#E5EFD6

.tit
  background-color: #A6CDEC
  border-radius: 0px
  width: fit-content !important
  height: 44px 
  padding: 0 40px 0 80px 
  position: relative
  display: inline-flex !important
  align-items: center
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    height: 55px
    padding: 0 20px 0 65px
.tit img
  width: 63px
  height: 63px
  position: absolute
  top: 50%
  left: 0px
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
  @media only screen and (max-width: 767px)
    width: 55px
    height: 55px











































//////////////////////////////////////TABLAS////////////////////////////////////

.tabla-a thead 
  border-top: none
  color: white
  background-color: #0A4666
.tabla-a th
  border-color: #0A4666
.tabla-a
  table
    width: 100%
    table-layout: auto
    th, td
      overflow-wrap: break-word
      white-space: normal
      vertical-align: top
      text-align: left
      border: none
  table th
    padding: 18px 15px
    text-align: center
  table td 
    padding: 18px 30px

.tabla-a.tab1
  tbody
    //td:first-child
      font-weight: bold
    td
      border-left: 2.5px solid #AFAFAF
    td:first-child
      border-left: none
  th:nth-child(1)
    width: 30%
  th:nth-child(2)
    width: 70%
.bgr
  background-color: #F6F6F6